<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="../img/img1.jpg" alt="gambar" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Torangto Situngkir</h1>
            <p class="lead">Backend-Developer | Fullstack Developer</p>
        </div>
    </div>
</div>

